<section class='container-fluid section_order'>
  <section class='sec main_store clearfix'>
    <div class='row'>
      <div class='order-lg-2 col-sm-6 col-lg-5'>
        <div class='wap_fixed_cart' style='width: 368px;'>
          <div class='main_store_box box-scroll mCustomScrollbar _mCS_1' style='width: 368px;'>
            <div
              id='mCSB_1'
              class='mCustomScrollBox mCS-3d-dark mCSB_vertical mCSB_inside'
              style='max-height: 275.656px;'
              tabindex='0'
            >
              <div id='mCSB_1_container' class='mCSB_container' style='position:relative; top:0; left:0;' dir='ltr'>
                <div class='box-scroll-context'>
                  <p class='tt_store'>Thông tin giỏ hàng
                    <span>( {{totalQuantity}} sản phẩm )</span>
                    <a href='/cart/show' class='btn edit'>Sửa</a>
                  </p>
                  <ul class='tbl_edit'>
                    {{#each products}}
                      <li class='clearfix'>
                        <a href='/products/{{this.item._id}}/detail' class='tbl-img img'>
                          <img src='../{{this.item.image}}' alt='{{this.item.name}}' class='mCS_img_loaded' />
                        </a>
                        <div class='tbl-info list-info'>
                          <a href='/products/{{this.item._id}}/detail' class='list-tt'>
                            {{this.item.name}}
                          </a>
                          <p class='list-note'>Số lượng: <span class='edit_num'>{{this.quantity}}</span></p>
                          <p class='price'>{{formatMoneyVnd this.price}}</p>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                  <div class='store_order clear'>
                    <p class='clearfix'>
                      <span class='left'>Tổng tiền tạm tính</span>
                      <span class='right'>{{formatMoneyVnd totalPrice}}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div
                id='mCSB_1_scrollbar_vertical'
                class='mCSB_scrollTools mCSB_1_scrollbar mCS-3d-dark mCSB_scrollTools_vertical'
                style='display: block;'
              >
                <a href='#' class='mCSB_buttonUp' style='display: block;'></a>
                <div class='mCSB_draggerContainer'>
                  <div
                    id='mCSB_1_dragger_vertical'
                    class='mCSB_dragger'
                    style='position: absolute; min-height: 70px; height: 187px; top: 0px; display: block; max-height: 226px;'
                  >
                    <div class='mCSB_dragger_bar' style='line-height: 70px;'></div>
                  </div>
                  <div class='mCSB_draggerRail'></div>
                </div><a href='#' class='mCSB_buttonDown' style='display: block;'></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class='order-lg-1 col-sm-6 col-lg-7'>
        <div class='main_store_box'>
          <form
            action='https://minhlong.com/vi/dat-hang.html'
            id='frm_checkout'
            class='form_info'
            method='post'
            accept-charset='utf-8'
          >
            <input type='hidden' name='csrf_site_name' value='43e3b4acd01a63d4f39b80ce4bc8b8c0' />
            <input type='hidden' name='shipping_fee' value='0' />
            <input type='hidden' name='shipping_date' value='' />
            <h2>Thông tin vận chuyển</h2>
            <span class='lb_form'>Họ tên người nhận hàng *</span>
            <span class='ip_form'>
              <input type='text' name='name' value='Nguyễn Đình Vinh' required />
            </span>
            <span class='lb_form'>Email *</span>
            <span class='ip_form'>
              <input type='text' name='email' value='developerthienkim@gmail.com' required />
            </span>
            <span class='lb_form'>Số điện thoại *</span>
            <span class='ip_form'>
              <input type='text' name='phone' value='0976541951' required />
            </span>
            <span class='lb_form'>Tỉnh/TP *</span>
            <div class='ip_select'>
              <div class='dropdown bootstrap-select dropup'>
                <select
                  name='city_id'
                  id='select_city'
                  class='selectpicker'
                  data-live-search='true'
                  autocomplete='off'
                  tabindex='-98'
                >
                  <option value=''>Tỉnh/TP</option>
                  <option value='89'>An Giang</option>
                  <option value='77'>Bà Rịa - Vũng Tàu</option>
                  <option value='24'>Bắc Giang</option>
                  <option value='6'>Bắc Kạn</option>
                  <option value='95'>Bạc Liêu</option>
                  <option value='27'>Bắc Ninh</option>
                  <option value='83'>Bến Tre</option>
                  <option value='74'>Bình Dương</option>
                  <option value='70'>Bình Phước</option>
                  <option value='60'>Bình Thuận</option>
                  <option value='52'>Bình Định</option>
                  <option value='96'>Cà Mau</option>
                  <option value='92'>Cần Thơ</option>
                  <option value='4'>Cao Bằng</option>
                  <option value='64'>Gia Lai</option>
                  <option value='2'>Hà Giang</option>
                  <option value='35'>Hà Nam</option>
                  <option value='1'>Hà Nội</option>
                  <option value='42'>Hà Tĩnh</option>
                  <option value='30'>Hải Dương</option>
                  <option value='31'>Hải Phòng</option>
                  <option value='93'>Hậu Giang</option>
                  <option value='79'>Hồ Chí Minh</option>
                  <option value='17'>Hòa Bình</option>
                  <option value='33'>Hưng Yên</option>
                  <option value='56'>Khánh Hòa</option>
                  <option value='91'>Kiên Giang</option>
                  <option value='62'>Kon Tum</option>
                  <option value='12'>Lai Châu</option>
                  <option value='68'>Lâm Đồng</option>
                  <option value='20'>Lạng Sơn</option>
                  <option value='10'>Lào Cai</option>
                  <option value='80'>Long An</option>
                  <option value='36'>Nam Định</option>
                  <option value='40'>Nghệ An</option>
                  <option value='37'>Ninh Bình</option>
                  <option value='58'>Ninh Thuận</option>
                  <option value='25'>Phú Thọ</option>
                  <option value='54'>Phú Yên</option>
                  <option value='44'>Quảng Bình</option>
                  <option value='49'>Quảng Nam</option>
                  <option value='51'>Quảng Ngãi</option>
                  <option value='22'>Quảng Ninh</option>
                  <option value='45'>Quảng Trị</option>
                  <option value='94'>Sóc Trăng</option>
                  <option value='14'>Sơn La</option>
                  <option value='72'>Tây Ninh</option>
                  <option value='34'>Thái Bình</option>
                  <option value='19'>Thái Nguyên</option>
                  <option value='38'>Thanh Hóa</option>
                  <option value='46'>Thừa Thiên Huế</option>
                  <option value='82'>Tiền Giang</option>
                  <option value='84'>Trà Vinh</option>
                  <option value='8'>Tuyên Quang</option>
                  <option value='86'>Vĩnh Long</option>
                  <option value='26'>Vĩnh Phúc</option>
                  <option value='15'>Yên Bái</option>
                  <option value='48'>Đà Nẵng</option>
                  <option value='66'>Đắk Lắk</option>
                  <option value='67'>Đắk Nông</option>
                  <option value='11'>Điện Biên</option>
                  <option value='75'>Đồng Nai</option>
                  <option value='87'>Đồng Tháp</option>
                </select>
                <div
                  class='dropdown-menu'
                  role='combobox'
                  style='max-height: 398.148px; overflow: hidden; min-height: 132px; min-width: 501px;'
                >
                  <div class='bs-searchbox'>
                    <input type='text' class='form-control' autocomplete='off' role='textbox' aria-label='Search' />
                  </div>
                  <div
                    class='inner show'
                    role='listbox'
                    aria-expanded='false'
                    tabindex='-1'
                    style='max-height: 345.148px; overflow-y: auto; min-height: 79px;'
                  >
                    <ul class='dropdown-menu inner show'>
                      <li class='selected active'>
                        <a
                          role='option'
                          class='dropdown-item selected active'
                          aria-disabled='false'
                          tabindex='0'
                          aria-selected='true'
                        >
                          <span class='text'>Tỉnh/TP</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>An Giang</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bà Rịa - Vũng Tàu</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bắc Giang</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bắc Kạn</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bạc Liêu</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bắc Ninh</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bến Tre</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bình Dương</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bình Phước</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bình Thuận</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Bình Định</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Cà Mau</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Cần Thơ</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Cao Bằng</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Gia Lai</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hà Giang</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hà Nam</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hà Nội</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hà Tĩnh</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hải Dương</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hải Phòng</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hậu Giang</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hồ Chí Minh</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hòa Bình</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Hưng Yên</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Khánh Hòa</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Kiên Giang</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Kon Tum</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Lai Châu</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Lâm Đồng</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Lạng Sơn</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Lào Cai</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Long An</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Nam Định</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Nghệ An</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Ninh Bình</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Ninh Thuận</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Phú Thọ</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Phú Yên</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Quảng Bình</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Quảng Nam</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Quảng Ngãi</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Quảng Ninh</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Quảng Trị</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Sóc Trăng</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Sơn La</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Tây Ninh</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Thái Bình</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Thái Nguyên</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Thanh Hóa</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Thừa Thiên Huế</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Tiền Giang</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Trà Vinh</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Tuyên Quang</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Vĩnh Long</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Vĩnh Phúc</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Yên Bái</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Đà Nẵng</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Đắk Lắk</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Đắk Nông</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Điện Biên</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Đồng Nai</span>
                        </a>
                      </li>
                      <li>
                        <a role='option' class='dropdown-item' aria-disabled='false' tabindex='0' aria-selected='false'>
                          <span class='text'>Đồng Tháp</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <span class='lb_form'>Quận/Huyện *</span>
            <div class='ip_select'>
              <div class='dropdown bootstrap-select dropup'>
                <select
                  name='district_id'
                  id='select_district'
                  class='selectpicker'
                  data-live-search='true'
                  autocomplete='off'
                  tabindex='-98'
                >
                  <option value=''>Quận/Huyện</option>
                </select>
                <div
                  class='dropdown-menu'
                  role='combobox'
                  style='max-height: 461.859px; overflow: hidden; min-height: 39px;'
                >
                  <div class='bs-searchbox'>
                    <input type='text' class='form-control' autocomplete='off' role='textbox' aria-label='Search' />
                  </div>
                  <div
                    class='inner show'
                    role='listbox'
                    aria-expanded='false'
                    tabindex='-1'
                    style='max-height: 408.859px; overflow-y: auto; min-height: 0px;'
                  >
                    <ul class='dropdown-menu inner show'>
                      <li class='selected active'>
                        <a
                          role='option'
                          class='dropdown-item selected active'
                          aria-disabled='false'
                          tabindex='0'
                          aria-selected='true'
                        >
                          <span class='text'>Quận/Huyện</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <span class='lb_form'>Phường/Xã *</span>
            <div class='ip_select'>
              <div class='dropdown bootstrap-select dropup'>
                <select
                  name='ward_id'
                  id='select_ward'
                  class='selectpicker'
                  data-live-search='true'
                  autocomplete='off'
                  tabindex='-98'
                >
                  <option value=''>Phường/Xã</option>
                </select>
                <div
                  class='dropdown-menu'
                  role='combobox'
                  style='max-height: 525.57px; overflow: hidden; min-height: 39px;'
                >
                  <div class='bs-searchbox'>
                    <input type='text' class='form-control' autocomplete='off' role='textbox' aria-label='Search' />
                  </div>
                  <div
                    class='inner show'
                    role='listbox'
                    aria-expanded='false'
                    tabindex='-1'
                    style='max-height: 472.57px; overflow-y: auto; min-height: 0px;'
                  >
                    <ul class='dropdown-menu inner show'>
                      <li class='selected active'>
                        <a
                          role='option'
                          class='dropdown-item selected active'
                          aria-disabled='false'
                          tabindex='0'
                          aria-selected='true'
                        >
                          <span class='text'>Phường/Xã</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <span class='lb_form'>Địa chỉ (Số nhà - tên đường) *</span>
            <span class='ip_form'>
              <input type='text' name='address' value='' required />
            </span>
            <span class='lb_form'>Ghi chú cho đơn hàng</span>
            <span class='ip_form'>
              <textarea name='note'></textarea>
            </span>

            <div class='store_order clear'>
              <h3>Tổng chi phí đơn hàng</h3>
              <p class='clearfix'>
                <span class='left'>Tổng tiền tạm tính</span>
                <span class='right' id='mlsubtotal'>{{formatMoneyVnd totalPrice}}</span>
              </p>
              <p class='clearfix'>
                <span class='left'>Phí vận chuyển dự kiến</span>
                <span class='right' id='shippingFee'>-</span>
              </p>
              <p class='clearfix'>
                <span class='left'>Tổng tiền cần thanh toán. Đã bao gồm 8% VAT.</span>
                <span class='right price_final_bold' id='shippingTotal'>{{formatMoneyVnd totalPrice}}</span>
              </p>
              <div class='store_check'>
                <h3>Chọn phương thức thanh toán</h3>
                <div class='custom-control custom-radio'>
                  <input
                    type='radio'
                    id='paymentMethod9'
                    name='payment_type'
                    class='custom-control-input'
                    value='9'
                    checked='true'
                  />
                  <label class='custom-control-label' for='paymentMethod9'>Thanh toán qua VNPAY-QR (Nhập mã “VNPAYMLVIP”
                    để được giảm giá)</label>
                </div>
                <div class='custom-control custom-radio'>
                  <input type='radio' id='paymentMethod1' name='payment_type' class='custom-control-input' value='1' />
                  <label class='custom-control-label' for='paymentMethod1'>Thanh toán khi nhận hàng (COD)</label>
                </div>
              </div>
              <div class='store_active'>
                <button type='submit' id='mlcheckoutbtn' onclick='checkout();' class='btn'>Tiến hành đặt hàng</button>
                <p class='policy'>Khi click vào nút
                  <span>Tiến hành đặt hàng</span>
                  đồng nghĩa với việc bạn đã đọc qua và đồng ý với
                  <a href='#'>Chính Sách Bán Hàng</a>
                  của chúng tôi.</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>