<section class='container-fluid section_order'>
  <section class='sec main_store clearfix'>
    <div class='row'>
      <div class='order-lg-2 col-sm-6 col-lg-5'>
        <div class='wap_fixed_cart' style='width: 368px;'>
          <div class='main_store_box box-scroll mCustomScrollbar _mCS_1' style='width: 368px;'>
            <div
              id='mCSB_1'
              class='mCustomScrollBox mCS-3d-dark mCSB_vertical mCSB_inside'
              style='max-height: 275.656px;'
              tabindex='0'
            >
              <div id='mCSB_1_container' class='mCSB_container' style='position:relative; top:0; left:0;' dir='ltr'>
                <div class='box-scroll-context'>
                  <p class='tt_store'>Thông tin giỏ hàng
                    <span>( {{totalQuantity}} sản phẩm )</span>
                    <a href='/cart/show' class='btn edit'>Sửa</a>
                  </p>
                  <ul class='tbl_edit'>
                    {{#each products}}
                      <li class='clearfix'>
                        <a href='/products/{{this.item._id}}/detail' class='tbl-img img'>
                          <img src='../{{this.item.image}}' alt='{{this.item.name}}' class='mCS_img_loaded' />
                        </a>
                        <div class='tbl-info list-info'>
                          <a href='/products/{{this.item._id}}/detail' class='list-tt'>
                            {{this.item.name}}
                          </a>
                          <p class='list-note'>Số lượng: <span class='edit_num'>{{this.quantity}}</span></p>
                          <p class='price'>{{formatMoneyVnd this.price}}</p>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                  <div class='store_order clear'>
                    <p class='clearfix'>
                      <span class='left'>Tổng tiền tạm tính</span>
                      <span class='right'>{{formatMoneyVnd totalPrice}}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div
                id='mCSB_1_scrollbar_vertical'
                class='mCSB_scrollTools mCSB_1_scrollbar mCS-3d-dark mCSB_scrollTools_vertical'
                style='display: block;'
              >
                <a href='#' class='mCSB_buttonUp' style='display: block;'></a>
                <div class='mCSB_draggerContainer'>
                  <div
                    id='mCSB_1_dragger_vertical'
                    class='mCSB_dragger'
                    style='position: absolute; min-height: 70px; height: 187px; top: 0px; display: block; max-height: 226px;'
                  >
                    <div class='mCSB_dragger_bar' style='line-height: 70px;'></div>
                  </div>
                  <div class='mCSB_draggerRail'></div>
                </div><a href='#' class='mCSB_buttonDown' style='display: block;'></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class='order-lg-1 col-sm-6 col-lg-7'>
        <div class='main_store_box'>
          <form action='/order/create' id='frm_checkout' class='form_info' method='POST' accept-charset='utf-8'>
            <input type='hidden' name='userId' value='{{userId}}' />
            <input type='hidden' name='shipping_fee' value='0' />
            <input type='hidden' name='shipping_date' value='' />
            <h2>Thông tin vận chuyển</h2>
            <span class='lb_form'>Họ tên người nhận hàng *</span>
            <span class='ip_form'>
              <input type='text' name='name' value='' required />
            </span>
            <span class='lb_form'>Email *</span>
            <span class='ip_form'>
              <input type='text' name='email' value='{{email}}' required />
            </span>
            <span class='lb_form'>Số điện thoại *</span>
            <span class='ip_form'>
              <input type='text' name='phone' value='' required />
            </span>
            <span class='lb_form'>Tỉnh/TP *</span>
            <span class='ip_form'>
              <input type='text' name='city' value='' required />
            </span>
            <span class='lb_form'>Quận/Huyện *</span>
            <span class='ip_form'>
              <input type='text' name='district' value='' required />
            </span>
            <span class='lb_form'>Phường/Xã *</span>
            <span class='ip_form'>
              <input type='text' name='wards' value='' required />
            </span>
            <span class='lb_form'>Địa chỉ (Số nhà - tên đường) *</span>
            <span class='ip_form'>
              <input type='text' name='address' value='' required />
            </span>
            <span class='lb_form'>Ghi chú cho đơn hàng</span>
            <span class='ip_form'>
              <textarea name='note'></textarea>
            </span>

            <div class='store_order clear'>
              <h3>Tổng chi phí đơn hàng</h3>
              <p class='clearfix'>
                <span class='left'>Tổng tiền tạm tính</span>
                <span class='right' id='mlsubtotal'>{{formatMoneyVnd totalPrice}}</span>
              </p>
              <p class='clearfix'>
                <span class='left'>Phí vận chuyển dự kiến</span>
                <span class='right' id='shippingFee'>-</span>
              </p>
              <p class='clearfix'>
                <span class='left'>Tổng tiền cần thanh toán. Đã bao gồm 8% VAT.</span>
                <span class='right price_final_bold' id='shippingTotal'>{{formatMoneyVnd totalPrice}}</span>
              </p>
              <div class='store_check'>
                <h3>Chọn phương thức thanh toán</h3>
                <div class='custom-control custom-radio'>
                  <input
                    type='radio'
                    id='paymentMethod9'
                    name='paymentType'
                    class='custom-control-input'
                    value='9'
                    checked='true'
                  />
                  <label class='custom-control-label' for='paymentMethod9'>Thanh toán qua VNPAY-QR (Nhập mã “VNPAYMLVIP”
                    để được giảm giá)</label>
                </div>
                <div class='custom-control custom-radio'>
                  <input type='radio' id='paymentMethod1' name='paymentType' class='custom-control-input' value='1' />
                  <label class='custom-control-label' for='paymentMethod1'>Thanh toán khi nhận hàng (COD)</label>
                </div>
              </div>
              <div class='store_active'>
                <button type='submit' id='mlcheckoutbtn' onclick='checkout();' class='btn'>Tiến hành đặt hàng</button>
                <p class='policy'>
                  Khi click vào nút
                  <span>Tiến hành đặt hàng</span>
                  đồng nghĩa với việc bạn đã đọc qua và đồng ý với
                  <a href='#'>Chính Sách Bán Hàng</a>
                  của chúng tôi.</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>

{{#if message}}
  <div id='toasts' class='toasts toasts--error'>
    <div class='toasts__icon'>
      <i class='fas fa-check-circle'></i>
    </div>
    <div class='toasts__body'>
      <h3 class='toasts__title'>Có lỗi xảy ra</h3>
      <p class='toasts__msg'>{{message}}</p>
    </div>
    <div class='toasts__close'>
      <i class='fas fa-times'></i>
    </div>
  </div>
{{/if}}