<div class='sec banner_page'>
  <img class='pc' src='https://minhlong.com/templates/images/tuyendung_banner_01.jpg' alt='' />
  <div class='bg_normal'></div>
  <div class='banner_title'>
    <h1 class='main_tt'>Đơn hàng của bạn</h1>
    <p class='text_note'></p>
  </div>
</div>
<div class='sec table-page clearfix'>
  <div class='card'>
    <h5 class='card-header'>Đơn hàng ({{countOrder}})</h5>
    <div class='card-body'>
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>Đơn hàng</th>
            <th scope='col'>Ngày</th>
            <th scope='col'>Thanh toán</th>
            <th scope='col'>Giao hàng</th>
            <th scope='col'>Tổng</th>
          </tr>
        </thead>
        <tbody>
          {{#if orders}}
            {{#each orders}}
              <tr>
                <th scope='row'>{{#each this}}{{this.paymentId}}{{/each}}</th>
                <td>{{#each this}}{{formatDate this.createdAt}}{{/each}}</td>
                <td>{{#each this}}{{checkPaymentType this.paymentType}}{{/each}}</td>
                <td>{{#each this}}{{checkOrderStatus this.orderStatus}}{{/each}}</td>
                <td>{{#each this}}{{formatMoneyVnd this.cart.totalPrice}}{{/each}}</td>
              </tr>
            {{/each}}
          {{else}}
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
  {{!-- <div class='tool-price'>
    <p class='clearfix price-full'><span>Tổng tiền thanh toán: </span><span
        class='tool-price-num'
        id='totalCart'
      >{{formatMoneyVnd this.totalPrice}}</span>
    </p>
    <p>Đã bao gồm thuế VAT<br />Chưa bao gồm chi phí vận chuyển</p>
    <div class='list-btn clear'>
      <a href='/' class='btn_web' id='btnBuyMore'>
        <span>Tiếp tục mua sắm</span>
      </a>
      <a href='/order/show' class='btn_web'>
        <span>Tiến hành thanh toán</span>
      </a>
    </div>
  </div> --}}
</div>