<div class='sec banner_page'>
  <img class='pc' src='https://minhlong.com/templates/images/tuyendung_banner_01.jpg' alt='' />
  <div class='bg_normal'></div>
  <div class='banner_title'>
    <h1 class='main_tt'>Đơn hàng của bạn</h1>
    <p class='text_note'></p>
  </div>
</div>
<div class='sec table-page clearfix'>
  <div class='card'>
    <h5 class='card-header'>Đơn hàng ({{countOrder}})</h5>
    <div class='card-body'>
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>Đơn hàng</th>
            <th scope='col'>Ngày</th>
            <th scope='col'>Thanh toán</th>
            <th scope='col'>Giao hàng</th>
            <th scope='col'>Tổng</th>
          </tr>
        </thead>
        <tbody>
          {{#if orders}}
            {{#each orders}}
              <tr>
                <th scope='row'>{{#each this}}{{this.paymentId}}{{/each}}</th>
                <td>{{#each this}}{{formatDate this.createdAt}}{{/each}}</td>
                <td>{{#each this}}{{checkPaymentType this.paymentType}}{{/each}}</td>
                <td>{{#each this}}{{checkOrderStatus this.orderStatus}}{{/each}}</td>
                <td>{{#each this}}{{formatMoneyVnd this.cart.totalPrice}}{{/each}}</td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan='5'>Bạn hiện đang chưa có đơn hàng nào.
                <a href='/'>Hãy tiếp tục mua sắm!</a>
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>