<div class='mt-4 list-item'>
  <div class='row'>
    {{#each products}}
      <div class='col-6 col-md-6 col-lg-3 item'>
        <a href='/product/{{this._id}}/detail' class='link_img'>
          <img src='{{this.image}}' alt='{{this.image}}' />
          <div class='hover_web bg_normal'><span><i class='fas fa-search'></i></span></div>
        </a>
        <div class='box_item_new'>
          <h3 class='title_link'>
            <a href='/product/{{this._id}}/detail'>{{this.name}}</a>
          </h3>
          <div class='sp_price'>{{formatMoneyVnd this.price}}</div>
        </div>
      </div>
    {{/each}}
  </div>
</div>